p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 100px;
    inline-size: 300px;
    height: 100px;
    block-size: 100px;
    background-color: orange;
}

html {
    box-sizing: border-box;
}

  * {
    box-sizing: inherit;
}

.my-grid {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
}

.has-blue-background {
  background-color: #A7DDFF;
  border: 1px solid #721EE3;
}

.has-yellow-background {
  background-color: #FAF7A7;
  border: 1px solid #E38C1E;
}
